/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS Variables */ 
:root {
    --primary-font: "Noto Sans", sans-serif;
    --secondary-font: "Luckiest Guy", cursive;
    --indigo: #46056A; 
    --white: #ffffff; 
    --grape: #7421A1;
    --amethyst: #A163C4;
} 

body {
    background-color: var(--amethyst); 
    color: var(--white); 
    padding-top: 76px;
}
h2 {
 font-family: var(--secondary-font);
 margin-top: 15px;
 margin-bottom: 2rem;
}

#game-modes, #about{
    padding-top: 4rem; /* prevent navbar overlap */
}

/* Buttons */
.custom-button-outline {
  border: 2px solid var(--indigo);
  background-color: var(--indigo);
  color: var(--white); 
}
.custom-button-outline:hover{
    color: var(--white); 
    background-color: var(--grape); 
}
/* Navbar */
nav {
    background-color: var(--grape); 
    font-family: var(--primary-font);
}

nav .logo{
    width:50px;
    height: 50px;
}

/* Header / carousel */
#header h1{
    font-family: var(--secondary-font);
}

#header p{
    font-family: var(--primary-font);
    margin-bottom: 30px;
}

/*About section*/

#about h3{
    margin-top: 30px;
}

#about h3,p {
    font-family: var(--primary-font);
}

/* Game modes section */
#game-modes img{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 350px;
    
    
}

/* Contact form section */
#contact-form {
    margin-top: 15px;
    margin-bottom: 30px;
}

/* Footer / socials */
#contact {
    background-color: var(--grape); 
    color: var(--white); 
}

#contact h2{
font-family: var(--secondary-font);
}
#contact .social-links i{
    color: var(--white); 
    font-size: 2rem;
   margin-right: 15px;
   margin-left: 15px;
}

#contact .social-links i:hover{
    color: var(--amethyst); 
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
#contact .social-links i span {
    font-size: 1rem;
    margin-right: 15px;
    font-family: var(--primary-font);
}

.disclaimer {
    font-size: smaller;
    opacity: 60%;
}
