/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS Variables */ 
:root {
    --primary-font: "Noto Sans", sans-serif;
    --secondary-font: "Luckiest Guy", cursive;
    --primary-color: #46056A; /* azul */
    --secondary-color: #ffffff; /* white */
    --highlight-color: #7421A1; /* purple */
    --highlight-color-light: #A163C4; /* light purple */
} 

body {
    background-color: var(--highlight-color-light);
    color: var(--secondary-color);
    padding-top: 76px;
}
h2 {
 font-family: var(--secondary-font);
 margin-top: 15px;
 margin-bottom: 2rem;
}

#game-modes, #about{
    padding-top: 4rem; /* prevent navbar overlap */
}

/* Buttons */
.custom-button-outline {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.custom-button-outline:hover{
    color: var(--secondary-color);
    background-color: var(--highlight-color);
}
/* Navbar */
nav {
    background-color: var(--highlight-color);
    font-family: var(--primary-font);
}

nav .logo{
    width:50px;
    height: 50px;
}

/* Header / carousel */
#header h1{
    font-family: var(--secondary-font);
}

#header p{
    font-family: var(--primary-font);
    margin-bottom: 30px;
}

/*About section*/

#about h3{
    margin-top: 30px;
}

#about h3,p {
    font-family: var(--primary-font);
}

/* Game modes section */
#game-modes img{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 350px;
    
    
}

/* Contact form section */
#contact-form {
    margin-top: 15px;
    margin-bottom: 30px;
}

/* Footer / socials */
#contact {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
}

#contact h2{
font-family: var(--secondary-font);
}
#contact .social-links i{
    color: var(--secondary-color);
    font-size: 2rem;
   margin-right: 15px;
   margin-left: 15px;
}

#contact .social-links i:hover{
    color: var(--highlight-color-light);
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
#contact .social-links i span {
    font-size: 1rem;
    margin-right: 15px;
    font-family: var(--primary-font);
}

.disclaimer {
    font-size: smaller;
    opacity: 60%;
}
